


.site-header {
    height:100px;
    position:relative;
    width:100%;
    border:solid 4px yellow;
}

.site-header--logo {
    position:relative;

    height:50px;
    width:100px;
    border:solid 2px red;
}

.site-body {
    width:100%;
    height:100%;

    border:solid 4px blue;
}




.top-nav {

}

.top-nav--item {
    display:inline-block;
    margin:0 20px;
}





.tabs {
    position:relative;
}

.tabs--links {
    text-align:center;
}

.tabs--link {
    display:inline-block;
}

.tabs--content {
    position:relative;
    width:100%;
    height:200px;
    border:solid 1px red;
}

.tabs--content__active {
    display:block;
}