/* Colours */
$lime: #7ed321;

$sansserif: 'Helvetica', 'Arial', 'sans-serif';

$helvneue: 'HelveticaNeueLT-Roman', $sansserif;
$helvneuemed: 'HelveticaNeueLT-Medium', $helvneue;
$helvneuelight: 'HelveticaNeueLT-Light', $helvneue;