<header class="site-header">
    {{#link-to 'index' class="site-logo"}}<small>Powered by:</small><span>{{siteTitle}}</span>{{/link-to}}
    {{header-nav navItems=navItems subNavItems=navItems action="gotoRoute"}}
</header>
