<div class="js-canvas-switcher canvas-switcher">
    <ul class="js-canvas-switcher-list canvas-switcher__list">
        {{canvas-element}}
        {{canvas-element}}
        {{canvas-element}}
    </ul>
</div>