<main class="site-body">
	<div class="js-canvas-switcher canvas-switcher">
		<ul class="js-canvas-switcher-list canvas-switcher__list">
			<li class="js-canvas canvas">
				<div class="js-stories canvas__inner">
				    <div class="js-story story -w1 -h2 -black">
						<div class="story__inner" style="background-size: 100% auto; background-image: url('/assets/img/lufc.png');">
							&nbsp;
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<article class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
									<header>
										<h2 class="heading">Leeds inspired</h2>
										<h3 class="heading -delta">Music &amp; art events around Leeds.</h3>
									</header>
									<main class="event">
										<div class="image -wide">
											<a href="javascript:;"><img src="assets/img/testimgs/leedsinspired.png" alt="Leeds Inspired" width="290" height="87" /></a>
										</div>
										<h2 class="heading"><a href="javascript:;">Gruff Rhys + Gwenno</a></h2>
										<div class="event__details">
											<time class="event__datetime">17th February 2015 7:30pm</time>
											<div class="event__address">
												<em>The Brudenell Social Club</em><br />
												33 Queen's Road, Leeds, LS6 1NY
											</div>
										</div>
										<p>Gruff, who is currently embarking on his US tour, will also be joined by a full band for his UK dates&hellip;</p>
									</main>
									<footer class="story__footer">
										<span class="pg-of">Page 1 of 2</span>
										<img src="assets/img/testimgs/leedsinspired/logo.png" alt="Leeds Inspired" width="50" height="19" />
										<ul>
											<li><a href="javascript:;" class="-prev">Prev</a></li>
											<li><a href="javascript:;" class="-num">1</a></li>
											<li><a href="javascript:;" class="-num -selected">2</a></li>
											<li><a href="javascript:;" class="-num">3</a></li>
											<li><a href="javascript:;" class="-next">Next</a></li>
										</ul>
									</footer>
								</article>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h2 -blue">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h2 -black">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h2 -blue">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h2 -black">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h2 -blue">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							<span class="js-story-handle story__handle">Handle</span>
							<div class="story__card -front">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
							<div class="story__card -back">
								<div class="story__content">
									<a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
								</div>
							</div>
						</div>
				    </div>
				    <div class="js-story story -w1 -h1 story--add">
						<a href="javascript:;" class="js-add-story story__inner">Add a new story</a>
				    </div>
				</div>
			</li>
		</ul>
	</div>
</main>
<div class="js-dashboard-bottom-drawer drawer -bottom">
	<div class="drawer__header">
		<h2 class="drawer__heading">Add a story</h2>
		<a href="javascript:;" class="js-close-bottom-drawer btn -close">
			<span class="icon icon-close-drawer svg-close-drawer" data-grunticon-embed></span>
		</a>
		<div class="js-bottom-drawer-button btn-list">
			<button class="btn -grey" data-btn-type="categories">Categories</button>
			<button class="btn -grey -selected" data-btn-type="featured">Featured</button>
			<button class="btn -grey" data-btn-type="official">Official</button>
			<button class="btn -grey -search" data-btn-type="search">Search</button>
		</div>
	</div>

	<div class="drawer__inner">
		<section class="drawer__section -categories">
			<h4>Transport</h4>
			<div class="js-thumb-list thumb-list">
				<ul class="thumb-list__inner">
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
				</ul>
			</div>
			<h4>Health</h4>
			<div class="js-thumb-list thumb-list">
				<ul class="thumb-list__inner">
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
				</ul>
			</div>
			<h4>Transport</h4>
			<div class="js-thumb-list thumb-list">
				<ul class="thumb-list__inner">
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
					<li class="thumb">
					    <div class="thumb__icon"></div>
					    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
					    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
				</ul>
			</div>
		</section>

		<section class="drawer__section -featured">
			<div class="table -fixed">
				<div class="creator table-cell">
					<div class="creator__inner"></div>
				</div>
				<div class="js-thumb-list thumb-list table-cell">
					<ul class="thumb-list__inner">
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
						<li class="thumb">
						    <div class="thumb__icon"></div>
						    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
						    <p class="thumb__category zeta">Sport &amp; Events</p>
						</li>
					</ul>
				</div>
			</div>
		</section>

		<section class="drawer__section -official">
		</section>

		<section class="drawer__section -search">
			<div class="search">
				<input class="search__input delta" placeholder="Search">
			</div>
		</section>

	</div>

</div>

<div class="js-story-meta story-meta">
	<button class="js-close-story-meta btn -back "></button>
	<h2 class="drawer__heading">Sports news &amp; events in Leeds</h2>

	<div class="story-meta__inner table">
		<div class="story-meta__preview table-cell -align-top">
		    <div class="js-story story -w1 -h1 -white" data-ss-colspan="2">
				<div class="story__inner">
					Story preview
				</div>
		    </div>
		    <button class="btn -blue">Add to canvas</button>
		</div>
		<div class="story-meta__details table -fixed -align-top">

			<table>
				<tr>
					<td>Description</td>
					<td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</td>
				</tr>
				<tr>
					<td>Tags</td>
					<td>Tag, tag, tag, tag, tag, tag, tag</td>
				</tr>
				<tr>
					<td>Category</td>
					<td>Sport</td>
				</tr>
				<tr>
					<td>Author</td>
					<td>Nathan Smith</td>
				</tr>
			</table>
			<h4>More by Author</h4>
			<div class="js-thumb-list thumb-list">
				<ul class="thumb-list__inner">
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
				</li>
				<li class="thumb">
				    <div class="thumb__icon"></div>
				    <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
				    <p class="thumb__category zeta">Sport &amp; Events</p>
					</li>
				</ul>
			</div> 
		</div>
	</div>
</div>
{{outlet}}
