<main class="site-body">
	<div class="js-canvas-switcher canvas-switcher">
		<ul class="js-canvas-switcher-list canvas-switcher__list">
			<li class="js-canvas canvas">
				<div class="js-stories canvas__inner">
				    <div class="story -w1 -h2 -black">
						<div class="story__inner">
							A
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							B
						</div>
				    </div>
				    <div class="story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							C
						</div>
				    </div>
				    <div class="story -w1 -h2 -blue">
						<div class="story__inner">
							D
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							E
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							F
						</div>
				    </div>
				    <div class="story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							G
						</div>
				    </div>
				    <div class="story -w1 -h1 story--add">
						<a href="javascript:;" class="js-story-add story__inner">Add a new story</a>
				    </div>
				</div>
			</li>
			<li class="js-canvas canvas">
				<div class="js-stories canvas__inner">
				    <div class="story -w1 -h2 -black">
						<div class="story__inner">
							A
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							B
						</div>
				    </div>
				    <div class="story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							C
						</div>
				    </div>
				    <div class="story -w1 -h2 -blue">
						<div class="story__inner">
							D
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							E
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							F
						</div>
				    </div>
				    <div class="story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							G
						</div>
				    </div>
				    <div class="story -w1 -h1 story--add">
						<a href="javascript:;" class="js-story-add story__inner">Add a new story</a>
				    </div>
				</div>
			</li>
			<li class="js-canvas canvas">
				<div class="js-stories canvas__inner">
				    <div class="story -w1 -h2 -black">
						<div class="story__inner">
							A
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							B
						</div>
				    </div>
				    <div class="story -w2 -h2 -ivory" data-ss-colspan="2">
						<div class="story__inner">
							C
						</div>
				    </div>
				    <div class="story -w1 -h2 -blue">
						<div class="story__inner">
							D
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							E
						</div>
				    </div>
				    <div class="story -w2 -h2 -white" data-ss-colspan="2">
						<div class="story__inner">
							F
						</div>
				    </div>
				    <div class="story -w2 -h1 -black" data-ss-colspan="2">
						<div class="story__inner">
							G
						</div>
				    </div>
				    <div class="story -w1 -h1 story--add">
						<a href="javascript:;" class="js-story-add story__inner">Add a new story</a>
				    </div>
				</div>
			</li>
		</ul>
	</div>
</main>
<div class="js-drawers drawer drawer--bottom">
	Bottom Drawer
	<div class="js-close-bottom-drawer drawer--bottom__close"></div>
</div>
{{outlet}}