* {
	@include box-sizing(border-box);
}

body,
html {
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

body > .ember-view {
	height:100%;
}

.site-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

/* -- Site content -- */
.site-header {
	width: 100%;
	height: 165px;
	position: fixed;
	top: 0;
	left: 0;
	border: solid 4px yellow;
}
	.site-logo {
		width: 335px;
		height: 50px;
		background: {
			image: url('logo.svg');
			size: 329px 50px;
			repeat: no-repeat;
		}
	}

.site-body {
	width:100%;
	height:100%;
	padding: {
		top: 165px;
	}
	border:solid 4px blue;
}
