* {
	@include box-sizing(border-box);
}

body,
html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: $helvneue;
	}
	> .ember-view {
		height:100%;
	}
}

.site-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

/* -- Site content -- */
.site-header {
	width: 100%;
	height: 165px;
	position: fixed;
	top: 0;
	left: 0;
	border: solid 4px yellow;
}
	.site-logo {
		width: 335px;
		height: 73px;
		display: block;
		small {
			width: 65px;
			height: 23px;
			float: left;
			font: {
				size: 12px;
				weight: 100;
			}
			text: {
				transform: lowercase;
			}
			display: inline-block;
		}
		span {
			width: 326px;
			height: 27px;
			float: left;
			clear: both;
			display: inline-block;
			text-indent: -9999px;
			background: {
				image: url('img/logo.svg');
				size: contain;
				repeat: no-repeat;
			}
		}
	}

.site-body {
	width:100%;
	height:100%;
	padding: {
		top: 165px;
	}
	border:solid 4px blue;
}
