
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
    color="-white" 
    width="-w2" 
    height="-h2"}}
    
    {{#stories/story-slider loaded=loaded}}
        {{#stories/story-slide}}
            <div class="tweets">
                <div class="dotted-area -pad-top -pad-bottom -top tweet">
                    <h2 class="-gamma">Leeds Data Mill <span class="tweet__handle">@LeedsDataMill</span></h2>
                    <p>Hey, I wrote a thing about what apps I'm rocking on my iPhone 6's home screen right now. (Spoiler: Lots of 'em!) <a href="http://imore.com/whats-serenity">http://imore.com/whats-serenity...</a></p>
                    <time class="tweet__time">4m</time>
                </div><!--
                --><div class="dotted-area -pad-top -pad-bottom -top tweet">
                    <h2 class="-gamma">Leeds Data Mill <span class="tweet__handle">@LeedsDataMill</span></h2>
                    <p>Hey, I wrote a thing about what apps I'm rocking on my iPhone 6's home screen right now. (Spoiler: Lots of 'em!) <a href="http://imore.com/whats-serenity">http://imore.com/whats-serenity...</a></p>
                    <time class="tweet__time">4m</time>
                </div><!--
                --><div class="dotted-area -pad-top -pad-bottom -top tweet">
                    <h2 class="-gamma">Leeds Data Mill <span class="tweet__handle">@LeedsDataMill</span></h2>
                    <p>Hey, I wrote a thing about what apps I'm rocking on my iPhone 6's home screen right now. (Spoiler: Lots of 'em!) <a href="http://imore.com/whats-serenity">http://imore.com/whats-serenity...</a></p>
                    <time class="tweet__time">4m</time>
                </div>
            </div>
        {{/stories/story-slide}}
        {{#stories/story-slide}}
            <div class="twitter-cover-photo">
                <div class="twitter-cover-photo__logo">
                    <img src="http://avatars.io/twitter/leedsdatamill" width="50" height="50" />
                </div>
                <img src="https://pbs.twimg.com/profile_banners/2221607978/1421754274/1500x500" width="290" height="102" />
                <a href="https://twitter.com/leedsdatamill" target="_blank" class="twitter-follow">Follow @LeedsDataMill</a>
            </div>
            <div class="twitter-profile-details">
                <h2 class="-beta">Leeds Data Mill</h2>
                <h3 class="-gamma">@LeedsDataMill</h3>
                <p>We are the Open Data Platform for Leeds. Follow us for updates on events, research and stories about the city.</p>
            </div>
        {{/stories/story-slide}}
      {{/stories/story-slider}}

{{/stories/story-base}}
