<header class="site-header">
    {{#link-to 'index' class="site-logo"}}<small>Powered by:</small><span>{{siteTitle}}</span>{{/link-to}}
    <ul class="site-nav">
        {{#each item in navItems}}
            <li>
                <a {{action "gotoRoute" item.route}}>
                	<svg role="img" class="svgico">
						<use xlink:href="/assets/img/svg/sprite.svg#toolbox"></use>
                	</svg>
                	<span>{{item.title}}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</header>