<header class="site-header">
    {{#link-to 'index' class="site-logo"}}<small>Powered by:</small><span>{{siteTitle}}</span>{{/link-to}}
    <ul class="top-nav">
        {{#each item in navItems}}
            <li style="float:left">
                <button class="top-nav--item" {{action "gotoRoute" item.route}}>{{item.title}}</button>
            </li>
        {{/each}}
    </ul>
</header>
