<div class="site-header">
    NAVIGATION
    <div class="header--logo">
        {{#link-to 'index'}}{{siteTitle}}{{/link-to}}
    </div>
    <ul class="top-nav">
        {{#each item in navItems}}
            <li>
                <button class="top-nav--item" {{action "gotoRoute" item.route}}>{{item.title}}</button>
            </li>
        {{/each}}
    </ul>
</div>