<div class="site-header">
    NAVIGATION
    <div class="header--logo">
        {{#link-to 'index'}}SITE LOGO{{/link-to}}
    </div>
    <ul>
        <li>{{#link-to 'dashboard.list'}}Library{{/link-to}}</li>
        {{#each item in navItems}}
        <li>TEST{{item}}</li>
        {{/each}}
    </ul>
</div>