{{#stories/story-base title=title subTitle=subTitle color="-white" width="-w2" height="-h2" data-ss-colspan="2"}}
<main class="lcc-enquiries">
    <div>
        {{
            select-2
            content=months
            value=selectedMonth
            placeholder="Choose a month"
            cssClass="hebe-select-2"
        }}
    </div>

   
    
</main>
{{/stories/story-base}}
