    <header class="js-site-header site-header">
        <div class="site-header__inner">
            {{gallery-header-nav navItems=galleryNavItems action="gotoRoute"}}
        </div>
    </header>

    <main class="stat-notices-body -intro -background__city">
        <div class="content -centered">
    		<h1>Welcome to the Statutory Notices</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper, felis hendrerit laoreet sollicitudin, purus ligula fringilla tellus, id bibendum felis nisl sed lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas interdum fringilla justo, porttitor sodales dolor malesuada in.</p>
            {{#link-to "statnotices.index" }}<img src="/assets/img/statnotices-intro.jpg" />{{/link-to}}
    		<p>Pellentesque dolor lectus, mollis at faucibus quis, viverra et eros. Sed vitae leo lectus. Nulla vitae ante in ligula maximus maximus ac ac tortor. Nullam vulputate hendrerit convallis. Sed elit diam, accumsan quis nisi viverra, vulputate ultrices justo. Morbi vel magna leo.</p>
            <p>We are in beta please bare with us.</p>
            
            <p class="-beta">Created & Developed by 
                <br />
                <br />
                <a href="http://www.hebeworks.com" target="_blank" class="svg-hebe-logo" data-grunticon-embed>Created and developed by Hebe Works</a>
            </p>
            {{outlet}}
        </div>
    </main>

