.stat-notices-body  {
	@extend %site-body;
	padding: {
		top:30px;
		right:40px;
		bottom:100px;
		left:40px;
	}
	overflow-y: scroll;
}
 
 .-stat-notices { 
	// modifier on top level full page app's .wrapper
}

	.stat-notices-body  {
	
		.btn-list {
			// border top & bottom?
			margin-bottom: 0px;
		}		
	}
		.stat-notices__inner {
			
		}
		
		
		.stat-notice {
			
			&__section {
				float:left;
				
				margin: {
					top:10px;
				}
				
				&:first-of-type {
					margin: {
						right:10px;
					}
				}
					
				&.-full {
					width:100%;
					margin:0;
				}
				
				&.-half {
					width:calc(50% - 10px);
				}
				
				&.-two-thirds {
					width:calc(66% - 10px);
				}
				
				&.-one-third {
					width:calc(33% - 10px);
				}
				
				.icon {
					position: absolute;
					left:0px;
					top:0px;
					bottom:0px;
					width:50px;
					height:100%;
					background: {
						size:20px auto;
						position:center 10px;
					}
					&.svg-stat-notice-icon-document {
						background: {
							size:20px auto;
							position:center 8px;
						}
					}
				}	
			}

			&__proposal {
				h2 {
					margin: {
						bottom:0;
					}
				}
			}
			
			&__description {
				margin: {
					bottom:10px;
				}
			}
			
			&__map {
				.map-canvas {
					width:100%;
					height:250px;
				}
				border:1px solid $light-grey;
				border: {
					radius: $radius;
				}
			}
			
			&__address, &__contribute {
				position:relative;
				padding: {
					left:50px;
				}			
				p {
					margin: {
						bottom:0;
					}
				}
			}
			
			&__contribute {
				position:relative;
				padding: {
					left:50px;
				}
				margin: {
					top:10px;
				}	
			}
			
			&__sign-off {
				h3, h4 {
					margin: {
						bottom:10px;
					}
				}
			}

			&__legislation {
				width: 100%;
				height: 50%;
				background-color: $blue;
				border: {
					radius: $radius;
				}
				color: $white;
				h2 {
					margin: {
						bottom:0;
					}
				}
				h3 {
					margin: {
						bottom: 0;
					}
				}
				.btn-list	{
					padding: {
						top: 0px;
						bottom: 0px;
					}
				}
				.btn {
					margin: auto;
					background-color: $dark-blue;
					color: $white;
					&:hover {
						background-color: lighten($dark-blue, 5%)
					}
				}
			}
			&__represent {
				width: 100%;
				height: 50%;
				margin: {
					top: 5px;
				}
				background-color: $red;
				border: {
					radius: $radius;
				}
				color: $white;
				h2 {
					margin: {
						bottom:0;
					}
				}
				h3 {
					margin: {
						bottom: 0;
					}
				}
				.btn-list	{
					padding: {
						top: 0px;
						bottom: 0px;
					}
				}
				.btn {
					margin: auto;
					background-color: $dark-red;
					color: $white;
					&:hover {
						background-color: lighten($dark-red, 5%);;
					}
				}
			}
			
			.btn-list {
				.btn {
					height:40px;
					padding: {
						left: 20px;
						right: 20px;
					}
					
					svg {
						height:20px;
					}

					&.svg-stat-notices-icon-phone {
						svg {
							height:12px;
						}
						background: {
						color: transparent;
						}
						@extend .solid-area.-all;
						@extend .solid-area.-dark;
						@extend .solid-area.-rounded;
					}
					&.svg-stat-notices-icon-email {
						svg {
							height: 17px;
						}
						background: {
						color: transparent;
						}
						@extend .solid-area.-all;
						@extend .solid-area.-dark;
						@extend .solid-area.-rounded;
					}
					&.svg-stat-notices-icon-planning {
						background-position: 1em center;
						background-size: 15% 60%;
						padding: {
							left: 2rem;
						}
						width: 20%;
					}
				}
				
				a.btn {
					padding: {
						top:8px;
					}
					text-align: center;
				}
			}
		}
		
		
			.list__section.-notices {
				
				.list-item
				{
					@extend .cf;
					&__summary, .btn-list {
						float:left;
						width:50%;
						
						&.btn-list {
							.btn {
								float:left;
								width: 25%;
								padding: {
									left:0.5em;
									right:0.5em;
									top:0.3em;
								}

								@include breakpoint(max-width 1100px) {
									width: 24%;
								}
								
								&:first-child {
									width:44%;
									@include breakpoint(max-width 1100px) {
										width: 45%;
									}
								}			
								
								&.svg-stat-notices-icon-planning {
									background-position: 1em center;
									background-size: 15% 60%;
									padding: {
										left: 2rem;
									}
								}
							}
						}
												
						@include breakpoint(max-width 999px) {
							width: 100%;
							float:none;
						}
					}
					&__summary {
						margin: {
							top:15px;
						}
						height:50px;
						padding: {
							right: 20px;
						}
					}
				}
			}
	
