.story {
	-webkit-touch-callout: none;
    //-webkit-user-select: none;
	padding: {
		top: 20px;
		right: 10px;
		left: 10px;
	}
	display: block;
	z-index: 3;
	@include perspective(1000);
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	@include transform-style(preserve-3d);

	@for $i from 1 through 3 {
		&.-w#{$i} {
			width: 170px * $i;
		}
		&.-h#{$i} {
			height: 170px * $i;
		}
	}
	&.-white {
		.story__card {
			background: {
				color: #fff;
			}
		}
	}
	&.-black {
		.story__card {
			color: #fff;
			background: {
				color: #000;
			}
		}
		.story__inner .icon-cogs {
			fill: #fff;
		}
	}
	&.-ivory {
		.story__card {
			background: {
				color: #fcfae6;
			}
		}
	}
	&.-blue {
		.story__card {
			color: #fff;
			background: {
				color: #053257;
			}
		}
		.story__inner .icon-cogs {
			fill: #fff;
		}
	}

	&.ui-draggable-dragging {
		@include transform(rotate(-1.5deg));
		.story__inner {
			box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
		}
	}
	
	// Box for adding a new story
	&.story--add .story__inner {
		text: {
			indent: -9999px;
		}
		background: {
			color: #e3e3e3;
			image: url('img/icons/icon_add-story.png');
			repeat: no-repeat;
			position: center center;
		}

		&:hover {
			background: {
				color: #e9e9e9;
			}
		}
	}
}
	.story__inner {
		height: 100%;
		display: block;
		-webkit-touch-callout: none;
		//-webkit-user-select: none;
		
		@include transform-style(preserve-3d);
		@include transition(.6s);

		position: relative;
		&.-flip {
			@include transform(rotateY(180deg));
			.story__card {
				&.-front {
					z-index: 2;
					.story__content {
						
					}
				}
				&.-back {
					z-index: 1;
					.story__content {
						
					}
				}
			}
		}
		.icon-cogs {
			opacity: .3;
			position: absolute;
			top: 15px;
			right: 15px;
			&:hover {
				opacity: 1;
			}
		}
	}
		.story__card {
			width: 100%;
			height: 100%;
			padding: 15px;
			position: absolute;
			top: 0;
			left: 0;
			border: {
				radius: 10px;
			}
			@include backface-visibility(hidden);
			&.-front {
				z-index: 2;
				@include transform(rotateY(0deg));
				.story__content {
					
				}
			}
			&.-back {
				z-index: 1;
				@include transform(rotateY(180deg));
				background-color: blue;
				.story__content {
					
				}
			}
		}
			.story__handle {
				width: 10px;
				height: 10px;
				position: absolute;
				left: -9999px;
				// top: 30px;
				// left: 20px;
				//background-color: #f00;
				text-indent: -99999px;
			}
			.story__content {
				@include transition(opacity .6);
				.heading {
					margin: {
						bottom: 5px;
					}
					&.-sub {
						margin: {
							bottom: 10px;
						}
					}
				}
				.image {
					margin: {
						bottom: 10px;
					}
					&.-wide {
						width: 100%;
					}
				}
			}

.ss-placeholder-child {
	width: 80px;
	height: 80px;
	padding: 10px;
	position: absolute;
	display: block;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		top: 10px;
		background-color: #e9e9e9;
		border: {
			radius: 10px;
		}
	}
}
