.story {
	-webkit-touch-callout: none;
    //-webkit-user-select: none;
	padding: {
		top: 20px;
		right: 10px;
		left: 10px;
	}
	display: block;
	border: {
		radius: 10px;
	}
	z-index: 3;
	@include perspective(1000);
	-ms-transform: perspective(1000px);
	-moz-transform: perspective(1000px);
	@include transform-style(preserve-3d);

	&.-w1 {
		width: 170px;
		.story__content,
		.story__footer {
			width: 120px;
		}
	}
	&.-w2 {
		width: 340px;
		.story__content,
		.story__footer {
			width: 290px;
		}
	}
	&.-h1 {
		height: 170px;
		.story__content {
			height: 120px;
		}
        .story__chart {
            height: 50px;
        }
	}
	&.-h2 {
		height: 340px;
		.story__content {
			height: 290px;
		}
        .story__chart {
            height: 195px;
        }
	}
	&.-white {
		.story__card {
			background: {
				color: #fff;
			}
		}
		.story__inner .icon-cogs {
			fill: #000;
			opacity: .3;
			&:hover {
				opacity: 1;
			}
		}
		.story__inner .icon-reverse svg {
			fill: #000;
			opacity: 1;
			&:hover {
				opacity: .8;
			}
		}
	}
	&.-black {
		.story__card {
			color: #fff;
			background: {
				color: #000;
			}
            a {
                color:#fff;
            }
		}
		.story__inner .icon-cogs {
			fill: #fff;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
        .story__footer {
		    .pg-of {
			    color: #fff;
                opacity:0.7;
            }
        }
	}
	&.-dark-grey {
		.story__card {
			color: #fff;
			background: {
				color: #4a4a4a;
			}
            a {
                color:#fff;
            }
		}
		.story__inner .icon-cogs {
			fill: #fff;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
        .story__footer {
		    .pg-of {
			    color: #fff;
                opacity:0.7;
            }
        }
	}
	&.-lime {
		.story__card {
			color: #fff;
			background: {
				color: #7ed321;
			}
            a {
                color:#fff;
            }
		}
		.story__inner .icon-cogs {
			fill: #fff;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
        .story__footer {
		    .pg-of {
			    color: #fff;
                opacity:0.7;
            }
        }
	}
	&.-ivory {
		.story__card {
			background: {
				color: #fcfae6;
			}
		}
	}
	&.-blue {
		.story__card {
			color: #fff;
			background: {
				color: #053257;
			}
		}
		.story__inner .icon-cogs {
			fill: #fff;
			opacity: .8;
			&:hover {
				opacity: 1;
			}
		}
	}

	&.ui-draggable-dragging {
		@include transform(rotate(-1.5deg));
		.story__inner {
			box-shadow: 0 0 5px 2px rgba(0,0,0,.15);
		}
	}
	
	// Box for adding a new story
	&.story--add {
		.story__inner {
			text: {
				indent: -9999px;
			}
			background: {
				color: #e3e3e3;
				repeat: no-repeat;
				position: center center;
			}
			@include transition(.15s);

			&:hover {
				background: {
					color: $lime;
				}
				.icon-plus {
					fill: #eeeef3;
				}
			}
		}
		.icon-plus {
			width: 38px;
			height: 38px;
			@include middle(xy);
			position: absolute;
			display: block;
			svg {
				width: 38px;
				height: 38px;
				display: block;
				fill: #efeff4;
			}
		}
	}
}
	.story__inner {
		height: 100%;
		display: block;
		-webkit-touch-callout: none;
		//-webkit-user-select: none;
		
		@include transform-style(preserve-3d);
		@include transition(.6s);

		position: relative;
		border: {
			radius: 10px;
		}
		&.-flip {
			@include transform(rotateY(180deg));
			.story__card {
				&.-front {
					z-index: 2;
					.story__content {
						
					}
				}
				&.-back {
					z-index: 1;
					.story__content {
						
					}
				}
			}
		}
		.icon-cogs {
			z-index: 1;
			opacity: .8;
			position: absolute;
			top: 5px;
			right: 10px;
			&:hover {
				opacity: 1;
			}
			
			svg {
				stroke-width: 1px;
				width:22px;
				height:22px;
				margin-top: 7px;
			}
		}
		
		.icon-reverse {
			svg {
				fill:white;
			}
		}
	}
		.story__card {
			width: 100%;
			height: 100%;
			padding: 15px;
			position: absolute;
			top: 0;
			left: 0;
			border: {
				radius: 10px;
			}
			overflow: hidden;
			@include backface-visibility(hidden);
			&.-front {
				z-index: 2;
				@include transform(rotateY(0deg));
				.story__content {
					
				}
			}
			&.-back {
				z-index: 1;
				@include transform(rotateY(180deg));
				background-color: blue;
				.story__content {
					
					h3 {
						margin: {
							top:1em;
							right:0;
							bottom:0;
							left:0;
						}
						padding:0;
					}
					p {
						padding:0;
						margin:0;
					}
				}
			}
		}
			.story__content {

				@include transition(opacity .6);
				.heading {
					margin: {
						bottom: 5px;
					}
					&.-sub {
						margin: {
							bottom: 10px;
						}
					}
                    &.-delta {
                        font-family:$helvneuelight;
                        padding: {
                        	bottom: 5px;
                        }
                    }
				}
				.image {
					margin: {
						bottom: 10px;
					}
					&.-wide {
						width: 100%;
					}
					a {
						display: block;
					}
				}
			}
			.story__footer {
				position: absolute;
				bottom: 5px;
				left: 15px;
				border: {
					top: dotted 1px #7e7d73;
				}
				padding: {
					top: 5px;
				}
				text-align: center;
				.pg-of {
					color: #000;
					opacity: .24;
					font: {
						size: em(12px);
					}
					margin: {
						top: 4px;
					}
					float: left;
				}
				img {
					float: right;
				}
			}

.ss-placeholder-child {
	width: 80px;
	height: 80px;
	padding: 10px;
	position: absolute;
	display: block;
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		top: 10px;
		background-color: #e9e9e9;
		border: {
			radius: 10px;
		}
	}
}
