<div class="tabs--content">
    Featured

    {{dashboard-thumb title="1 Sports news & events in Leeds" category="Sports & Events" imageUrl="/images/icons/news.png" }}
    {{dashboard-thumb title="2 Sports news & events in Leeds" category="Sports & Events" imageUrl="/images/icons/news.png" }}
    {{dashboard-thumb title="3 Sports news & events in Leeds" category="Sports & Events" imageUrl="/images/icons/news.png" }}
    {{dashboard-thumb title="4 Sports news & events in Leeds" category="Sports & Events" imageUrl="/images/icons/news.png" }}

</div>
