
{{#stories/story-base title=title subTitle=subTitle color="-dark-blue" width="-w2" height="-h2" data-ss-colspan="2"}}
    <main class="river-levels">
    	{{
            select-2
            content=items
            value=selectedStation
            optionValuePath="id"
            optionLabelPath="title"
            placeholder="Select Measurment Station"
        	}}
        <div class="river-levels-gaugeChart">
            {{stories/story-liquid-gauge-chart value=latestReading.value metres=true max=typicalRangeHigh}}
			<span class="info-label">No risk of flooding</span>
        </div>
        <div class="river-levels-columnChart">
        	<div class="river-levels-columnChart-container">
        		<div class="river-levels-columnChart-container--header"></div>
        		<div class="river-levels-columnChart-container-inner">
	        		<div class="river-levels-columnChart-container-inner--maxLevel"></div>
	        		<div class="river-levels-columnChart-container-inner--floodRisk-label">Flood Risk</div>
	        		<div class="river-levels-columnChart-container-inner--floodRisk-line"></div>
	        		<div class="river-levels-columnChart-container-inner--floodRisk-value">{{typicalRangeHigh}}m</div>
	        		<div class="river-levels-columnChart-container-inner--currentLevel"></div>
	        		<div class="river-levels-columnChart--label__floodRisk">
	        			<div class="river-levels-columnChart--label__floodRisk-title"></div>
	        			<hr class="river-levels-columnChart--label__floodRisk-marker">
	        			<div class="river-levels-columnChart--label__floodRisk-value"></div>
	        		</div>
        		</div>
        		<div class="river-levels-columnChart-container--footer">0.00m</div>
        	</div>
        </div>
    </main>
{{/stories/story-base}}
