<ul>
    <li><button {{action "showTab" 'official-view'}}>official</button></li>
    <li><button {{action "showTab" 'featured-view'}}>Featured</button></li>
    <li><button {{action "showTab" 'category-view'}}>Categories</button></li>
    <li><button {{action "showTab" 'new-view'}}>New</button></li>
</ul>
