
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
	color="-dark-blue" 
    width=width 
    height=height 
    viewOnly=true
    hideTitles=false
    data-ss-colspan="2"}}
    <main class="svg-water-saving-tip-icon saving-water-key-facts">
        <article class="saving-water-key-facts__quote">
            {{!-- randomItem --}}
            {{yield}}
        </article>
        
        
        
        
        {{!--
        {{#stories/story-slider loaded=loaded}}
            {{#each item in items}}
                {{#stories/story-slide}}
                    <article class="saving-water-key-facts__quote">
                        {{item}}
                    </article>
                {{/stories/story-slide}}
            {{/each}}
        {{/stories/story-slider}}
        --}}
    </main>
{{/stories/story-base}}
