<h1 class="js-canvas-heading canvas-heading">The Leeds Overview</h1>
<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">



        {{stories/complete/house-prices}}



<!--
       
        <div class="js-story story -w2 -h2 -white">
            <div class="story__inner">
                <div class="story__card -front" style="background-size: contain; background-image: url('/assets/img/bg_leedsparkrun.png'); background-position: center center; background-repeat: no-repeat; background-color: #fff;">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
                <div class="story__card -back">
                    <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                    <div class="story__content">
                        
                    </div>
                </div>
            </div>
        </div>-->
        
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
    </div>
</div>
