<h1 class="js-canvas-heading canvas-heading">The Leeds Overview</h1>
<div class="js-canvas canvas">
    <a href="javascript:;" class="js-canvas-overlay canvas__overlay"></a>
    <div class="js-stories canvas__inner">







 

        {{!-- stories/complete/house-prices --}}

        {{!-- stories/complete/bicycle-bays --}}
        {{!-- stories/complete/lcc-enquiries --}}
        {{!-- stories/complete/parking-fines --}}
        {{!-- stories/complete/clock-face --}}
        {{!-- stories/complete/development-story --}}
        {{!-- stories/complete/leeds-inspired --}}        
        {{!-- stories/complete/river-levels --}}
        {{!-- stories/complete/instagram-local --}}
        {{stories/complete/carpark-spaces}}
        {{!-- stories/complete/space-station --}}

        {{!-- stories/complete/footfall-centre --}}
         




        
        <div class="js-story story -w1 -h1 story--add">
            <a href="javascript:;" class="js-add-story story__inner"><span class="icon-plus svg-plus" data-grunticon-embed></span>Add a new story</a>
        </div>
    </div>
</div>
