<div class="js-gallery-wrapper gallery-wrapper">
    <header class="js-site-header site-header">
        <div class="site-header__inner">
            <a href="#" class="js-gallery-back">Back</a>
            <ul class="js-site-nav nav -main -header">
                <li>
                    <a>
                        <span>Browse</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>My Collection</span>
                    </a>
                </li>
                <li>
                    <a>
                        <span>Search</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main class="gallery-body">
        <div class="js-gallery-button btn-list -centered">
            <button class="btn -white" data-btn-type="categories">Categories</button>
            <button class="btn -white -selected" data-btn-type="featured">Featured</button>
            <button class="btn -white" data-btn-type="official">Official</button>
            <button class="btn -white" data-btn-type="search">Search</button>
        </div>

        <div class="gallery__inner">

            <div class="table -fixed">
                <div class="creator table-cell">
                    <div class="creator__inner"></div>
                </div>
                <div class="js-thumb-list thumb-list -dark table-cell">
                    <ul class="thumb-list__inner">
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                    </ul>
                </div>
            </div>

            <section class="gallery__section -categories">
                <h2>Categories</h2>
                <h4>Transport</h4>
                <div class="js-thumb-list thumb-list -dark">
                    <ul class="thumb-list__inner">
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                    </ul>
                </div>
                <h4>Health</h4>
                <div class="js-thumb-list thumb-list -dark">
                    <ul class="thumb-list__inner">
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                        <li class="thumb">
                            <div class="thumb__icon"></div>
                            <h4 class="thumb__title">Sport news &amp; events in Leeds</h4>
                            <p class="thumb__category zeta">Sport &amp; Events</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </main>

</div>