.foi-request {
	
	
}

	.headline-figures {
		
	}
	
		.headline-figure__value {
			float:right;
		}
		
	
	.response-times {
		width:100%;
	}
	
		.response-times__section {
			float:left;
			width:33%;
			
			&.-icon {
				
			}			
		}

		.response-times__icon-timer {
			float:left;
			width:33%;
		}
		
			.response-times__value {
				
			}
		
		