.lcc-enquiries {

    .-alpha {
//        margin-bottom:4px;
    }

    .caroufredsel_wrapper, .story__carousel {
        min-height:100px;
    }
}

    .lcc-enquiries__table {
        width:100%;

        thead {
            td {
                border: {
                    bottom:dashed 1px $light-grey;
                }
                
                font: {
                    size:em(11px);
                }
            }    
        }
        
        tbody {
            td {
                font: {
                    size:em(12px);
                }
                padding:2px 0;
                border: {
                    bottom:dashed 1px $light-grey;
                }
                
                font-weight:bold;
                &:first-of-type {
                    font-weight: normal;
                }        
            }
        }
    }