.river-level-stations {
	padding: {
		top: 15px;
	}
	table {
		width: 100%;
		
		tr {
			
			td {
				width: 100%;
				@extend .dotted-area.-bottom;
				padding: {
					top:5px;
					bottom:5px;
				}
				
				&:last-of-type {
					text-align:right; 
				}
			}
		}
	}
}