.space-station {
    .heading {
        font: {
            size: em(18px);
        }

        padding: {
            top:10px;
            bottom:10px;
        }

        margin: {
            bottom: 0;
        }

        border: {
            top: dotted 1px #7e7d73;
            bottom: dotted 1px #7e7d73;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    p {
        
        margin: {
            bottom: 5px;
        }
    }

    /*div.caroufredsel_wrapper {
        left: 60px !important;
        width: 200px !important;
        border:solid 1px white;
    }*/
}

    .space-station__icon  {
        float:left;
		position:absolute;
        top:140px;

        .icon-space-station {
			width: 81px;
			height: 80px;
            fill: #fff;
			display: block;
		    
            &:hover {
                fill: #fff;
	        }
        }
    }

    .space-station__details {
        float:left;
        padding: {
            top: 50px;
            left:95px;
            bottom: 5px;
        }

        margin: {
            bottom: 5px;
        }
    }

    .space-station__date {
        font: {
            size: em(28px);
        }
    }

    .space-station__duration {
        font: {
            size: em(28px);
        }
    }
