.tweets {
	height: 217px;
	overflow: hidden;
	overflow-y: scroll;
}

.tweet {
	position: relative;
	h2 {
		margin-bottom: 5px;
	}
	p {
		font-size: em(12px);
		line-height: 1.2;
	}
}
	.tweet__handle {
		color: #c5c5c5;
		font-size: em(14px);
	}
	.tweet__time {
		font-size: em(12px);
		position: absolute;
		top: 5px;
		right: 0;
	}