
{{#stories/story-base 
    title=title 
    subTitle=subTitle 
	color="-dark-blue" 
    width="-w2" 
    height="-h2" 
    hideFooter=true
    data-ss-colspan="2"}}
    <main class="river-level-stations">
        <table>
            {{#each station in stations}}
                <tr>
                    <td>{{station.label}}</td>
                    <td>{{station.currentMeasure.value}}m</td>
                </tr>
            {{/each}}
        </table>
    </main>
{{/stories/story-base}}
