
{{#stories/story-base 
	title=title 
	subTitle=subTitle 
	color="-black" 
	width="-w2" 
	height="-h2" 
	data-ss-colspan="2"
	headerBorder=true

    dataSourceUrl=""
    feedbackEmail="simon@hebeworks.com"
    description=""
    license="Open Government License"
    author="Simon Zimmerman"
}}

    <main class="council-spending">
        <div class="select2-wrapper -council-spending-directorate">
            {{
                select-2
                content=items
                value=selectedItem
                optionLabelPath="directorate"
                placeholder="Default value here"
            }}
        </div><!--
        --><div class="select2-wrapper -council-spending-date">
            {{
                select-2
                content=items
                value=selectedItem
                optionLabelPath="directorate"
                placeholder="Date"
            }}
        </div>
        <div class="council-spending__circle-indicator">
            <h2 class="gamma bold center uppercase margin-bottom">Total spend for directorate</h2>
            <div class="circle-indicator -medium">
                <div class="svg-circle-indicator -orange" data-grunticon-embed></div>
                <div class="circle-indicator__inner">
                    <div>
                        <span class="number-stat">January<br /><span class="number-stat -green">&pound;8,473,704</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="council-spending__circle-indicator">
            <h2 class="gamma bold center uppercase margin-bottom">Vs. Total spend for month</h2>
            <div class="circle-indicator -medium">
                <div class="svg-circle-indicator -transparent" data-grunticon-embed></div>
                <div class="circle-indicator__inner">
                    <div>
                        <span class="number-stat">January<br /><span class="number-stat -green">&pound;8,473,704</span></span>
                    </div>
                </div>
            </div>
        </div>
    </main>
{{/stories/story-base}}
