.btn {
    @extend %delta;
    border: 0;
    padding: .7em 1.7em;
    border-radius: 5px;
    cursor: pointer;

    &.-grey {
        background-color: $light-grey;
    }

    &.-selected {
        background-color: $lime;
        color: #fff;
    }
}