.btn {
    @extend %delta;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    text-decoration:none;
    
    &.-grey {
        background-color: $light-grey;
    
        &:hover {
            color: #fff;
            background-color: $lime;
        }
    }

    &.-white {
        background-color: #fff;
    
        &:hover {
            color: #fff;
            background-color: $lime;
        }
    }

    &.-blue {
        background-color: $blue;
        color: #fff;
    }

    &.-selected {
        background-color: $lime;
        color: #d9f2bd;
    }

    &.-center {
        text-align: center;
    }

    &.-close {
        width: 30px;
        height: 30px;
        display: block;
        position: absolute;
        top: 28px;
        right: 43px;
        .icon {
            width: 30px;
            height: 30px;
            display: block;
        }
    }

    &.-back {
        width: 50px;
        height: 50px;
        background: #aaa;
    }
}

.btn-list {
    overflow: hidden;
    padding: {
        top: 8px;
        bottom: 8px;
    }
    margin: {
        bottom: 10px;
    }
    border: {
        top: dotted 1px #868080;
        bottom: dotted 1px #868080;
    }

    &.-centered {
        text-align: center;
    }
    
    .btn {
        width: 140px;
        height: 40px;
        font: {
            size: em(12px);
        }
        &.-search {
            width: 180px;
        }
        &.-create {
            width: 160px;
            float: right;
            background-color: $blue;
            cursor: pointer;
            &:hover {
                background-color: lighten($blue, 5%);
            }
            .icon-conversation {
                width: 15px;
                display: inline-block;
                vertical-align: middle;
                margin: {
                    top: -1px;
                    right: 3px;
                }
                svg {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
        + .btn {
            margin-left: 15px;
        }
        &.-half {
            float:left;
            width:49%;
            &:nth-child(even) {
                margin: {
                    top:0;
                    right:0;
                    bottom:0;
                    left: 2%;
                }
            }
        }
    }
}

a.btn {
    padding: {
        top:1em;
    }
}