.icon-list {
	@include centered;
	width: auto;
	display: block;
	text-align: center;
}
	.icon-list__item {
		display: inline-block;
		margin: {
			right: 10px;
			left: 10px;
		}
		&.-separator {
			margin-right: 70px;
		}
		a {
			text-decoration: none;
			&:hover {
				color: $lime;
			}
		}
	}

/* Specific icons */
.icon-toolbox {
	@include centered;
	width: 41px;
	height: 40px;
	display: inline-block;
}