.site-nav {
	@include clean-list;
	@include middle(xy);
	width: auto;
	height: 75px;
	position: absolute;

	li {
		width: auto;
		height: 75px;
		float: left;
		margin: {
			right: 10px;
			left: 10px;
		}
	}
	a {
		display: block;
		font: {
			size: em(20px);
			family: $helvneuelight;
		}
		text: {
			align: center;
		}
		text-decoration: none;
		&:hover {
			color: $lime;
			.icon-toolbox svg {
				fill: $lime;
			}
			.site-nav__title {
				color: $lime;
				text-decoration: none;
			}
		}
	}
}
	.site-nav__title {
		width: 100%;
		display: block;
	}