.site-nav {
	@include clean-list;
	@include middle(xy);
	width: 100%;
	height: 75px;
	position: absolute;
	display: block;
	text-align: center;

	li {
		width: auto;
		height: 75px;
		display: inline-block;
		margin: {
			right: 10px;
			left: 10px;
		}
		&.-gallery {
			position: absolute;
			top: 2px;
			right: 45px;
		}
	}
	a {
		display: block;
		font: {
			size: em(20px);
			family: $helvneuelight;
		}
		text: {
			align: center;
		}
		text-decoration: none;
		&:hover {
			color: $lime;
			.icon svg {
				fill: $lime;
			}
			.site-nav__title {
				color: $lime;
				text-decoration: none;
			}
		}
	}
	.icon {
		@include centered;
		width: 43px;
		height: 43px;
		display: inline-block;
	}
	.icon-gallery {
		padding: {
			top: 3px;
		}
		margin: {
			bottom: 7px;
		}
	}
}
	.site-nav__title {
		width: 100%;
		display: block;
	}