.thumb-list {
    position: relative;

    &:after {
        content: '';
        position: absolute;
        top: 14px;
        bottom: 14px;
        right: 0;
        width: 28px;
        background-color: $off-white;
        border-left: 1px solid $light-grey;
    }
}

.thumb-list__inner {
    @include clean-list;
    @include cf;
    border-radius: 5px;
    background-color: $off-white;
    padding: 28px 28px 20px 28px;
    overflow: scroll;
    white-space: nowrap;

    + .thumb-list {
        margin-top: 1.5em;
    }
}

    .thumb {
        width: 12%;
        min-width: 100px;
        max-width: 150px;
        display: inline-block;
        white-space: normal;
        margin-right: 21px;
    }

        .thumb__icon {
            padding-top: 100%;
            border-radius: 10px;
            background-color: #fff;
        }

        .thumb__title {
            color: $blue;
            margin: .5em 0 0;
        }

        .thumb__category {
            color: $grey;
            margin: .5em 0 0;
        }