<ul class="js-site-nav site-nav">
    {{#each item in navItems}}
    <li {{bind-attr class="item.dashed"}}>
        {{nav-icon title=item.title iconclass=item.iconclass svgclass=item.svgclass action=item.action route=item.route}}
    </li>
    {{/each}}
</ul>

{{#if showSubNav}}
<div class="site-sub-nav">
    {{header-nav navItems=navSubItems}}
</div>
{{/if}}


{{yield}}
