<div class="js-story story -w2 -h2 -ivory" data-ss-colspan="2">
    <div class="story__inner">
        <span class="js-story-handle story__handle">Handle</span>
        <div class="story__card -front">
            <article class="story__content">
                <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
                <header>
                    <h2 class="heading">{{title}}</h2>
                    <h3 class="heading -delta">{{subTitle}}</h3>
                </header>
                {{yield}}
                <footer class="story__footer">
                    <span class="pg-of">Page 1 of 2</span>
                    <img src="assets/img/testimgs/leedsinspired/logo.png" alt="Leeds Inspired" width="50" height="19" />
                    <ul>
                        <li><a href="javascript:;" class="-prev">Prev</a></li>
                        <li><a href="javascript:;" class="-num">1</a></li>
                        <li><a href="javascript:;" class="-num -selected">2</a></li>
                        <li><a href="javascript:;" class="-num">3</a></li>
                        <li><a href="javascript:;" class="-next">Next</a></li>
                    </ul>
                </footer>
            </article>
        </div>
        <div class="story__card -back">
            <div class="story__content">
                <a href="javascript:;" class="js-cogs icon icon-cogs svg-cogs" data-grunticon-embed>Settings</a>
            </div>
        </div>
    </div>
</div>
