<div class="site-body">
    <div class="dashboard-list">
        LIST OF DASHBOARDS
        {{outlet}}
        <ul>
            <li>Official</li>
            <li>Featured</li>
            <li>Categories</li>
            <li>New</li>
        </ul>
        <div class="tabs">
            <div class="tabs--content">
                Official
            </div>
            <div class="tabs--content">
                Featured
            </div>
            <div class="tabs--content">
                Categories
            </div>
            <div class="tabs--content">
                New
            </div>
        </div>
    </div>
</div>